.cards-resource > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 16px;
}

.cards-resource > ul > li {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.cards-resource > ul > li:first-child {
  grid-row: 1 / 3;
}

.cards-resource .cards-resource-card-image {
  line-height: 0;
  height: 100%;
}

.cards-resource > ul > li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-resource .cards-resource-card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  color: #fff;
  background: linear-gradient(transparent, rgb(0 0 0 / 60%));
}

.cards-resource .cards-resource-card-body h2,
.cards-resource .cards-resource-card-body p {
  color: #fff;
  margin: 0 0 8px;
}

.cards-resource .cards-resource-card-body a {
  color: #fff;
  text-decoration: underline;
}

@media (width <= 767px) {
  .cards-resource > ul {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .cards-resource > ul > li {
    min-height: 200px;
  }

  .cards-resource > ul > li:first-child {
    grid-row: auto;
  }
}
